/* small/mobile device */
@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
  .navbar {
    margin-top: 4rem;
  }
  .menu-bar {
    display: block;
  }
  .list-item,
  .search-icon {
    display: none;
  }
  .shopping-cart-icon {
    display: block;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 10rem;
  }
  .banner .banner-content {
    text-align: center;
  }
  .primary-btn {
    justify-self: center;
  }
}
