/* import google fonts - Poppins, Inter, Manrope */

@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", serif; */
/* font-family: "Inter", serif; */
/* font-family: "Manrope", serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", serif;
  font-size: 10px;
}

:root {
  --text-color: #3a3a3a;
  --primary-color: #e02c6d;
}

/* 
=============================================
shared styles
=============================================
*/

.container {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.capitalize {
  text-transform: capitalize;
}

.primary-btn {
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 4rem;
  padding: 1rem 2.4rem;
  gap: 0.8rem;
  cursor: pointer;
}

.btn-right-arrow {
  transition: transform 0.4s;
}

.primary-btn:hover .btn-right-arrow {
  transform: translate(1.2rem);
}

.margin-top {
  margin-top: 10rem;
}

/*
==============================================
header related styles
==============================================
*/
.header {
  max-width: 1200px;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 8.5rem;
  margin-bottom: 5rem;
}
.menu-bar {
  display: none;
}
.menu-bar > .menu-bar-btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
}

.brand {
  color: var(--text-color);
  font-size: 2.4rem;
  font-weight: 700;
  cursor: pointer;
}

.menu-items,
.cart {
  gap: 3.4rem;
  align-items: center;
}

.list-item {
  list-style: none;
}

.list-item .item-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.2s;
}
.search-icon:hover,
.shopping-cart-icon:hover,
.list-item .item-link:hover {
  color: var(--primary-color);
}
.cart {
  cursor: pointer;
}

.shopping-cart-icon {
  position: relative;
}

.shopping-cart-icon > .dot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 0;
  right: 0;
  background-color: #3a3a3a;
  border: 2px solid #ffffff;
  transition: all 0.2s;
}

.shopping-cart-icon:hover > .dot {
  background-color: var(--primary-color);
}

/* banner related styles */

.banner {
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 58.2rem;
}

.banner-title {
  color: var(--text-color);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 7rem;
  margin-bottom: 1.6rem;
}

.banner-description {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.banner-image {
  max-width: 47.5rem;
  height: 47.5rem;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image > .image {
  max-width: 44rem;
}

.image > img {
  width: 100%;
}
/* end */

/*============================================
sponsor company logo styles
==============================================
*/

.company-logo {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 11rem;
  position: relative;
  gap: 6rem;
}
.company-logo > img {
  max-width: 100%;
}
.company-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
}
.company-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
}

/* end */
